/* src/components/history/HistoryItem.module.css */
.itemContainer {
  display: flex;
  align-items: center;
  width: 306px;
  height: 60px;
  padding: 10px;
  background-color: #F0F1F3;
  border-radius: 11px;
  margin-bottom: 10px; /* 아이템 간 간격 */
}

.itemIcon {
  width: 39px;
  height: 39px;
  margin-right: 15px;
}

.infoSection {
  flex: 1 1 auto;
  min-width: 0; /* 없으면 ellipsis가 안 먹음 */
}

.shopName {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 160px;
}

.time {
  font-size: 10px;
  color: #777;
}

.pointSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  margin-right: 2px;
}

.points {
  font-size: 18px;
  color: #121212;
  font-weight: 400;
  
}

.totalPoints {
  font-size: 14px;
  color: #777;
  margin-top: 4px;
  font-weight: 400;
}

